In [48]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf

%matplotlib inline
plt.rcParams['figure.figsize'] = (16,16)

In [49]:
tf.__version__

'1.10.0'

In [50]:
tf.keras.__version__

'2.1.6-tf'

In [51]:
pd.__version__

'0.23.4'

In [54]:
model = tf.keras.Sequential()

In [56]:
model.add(
    tf.keras.layers.GRU(
        units=512,
        return_sequences=True,
        input_shape=(None, 5000,)
    )
)

In [57]:
model.add(
    tf.keras.layers.Dense(1, activation='relu')
)

In [58]:
train = pd.read_csv('../input/train.csv.zip')

In [59]:
train.head(5)

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [60]:
train['date'] = pd.to_datetime(train['date'], format='%Y-%m-%d')

In [61]:
train['week'] = train['date'].dt.weekofyear
train['weekday'] = train['date'].dt.dayofweek

In [63]:
train = train[['date', 'week', 'weekday', 'store', 'item', 'sales']]

In [65]:
train.head(14)

         date  week  weekday  store  item  sales
0  2013-01-01     1        1      1     1     13
1  2013-01-02     1        2      1     1     11
2  2013-01-03     1        3      1     1     14
3  2013-01-04     1        4      1     1     13
4  2013-01-05     1        5      1     1     10
5  2013-01-06     1        6      1     1     12
6  2013-01-07     2        0      1     1     10
7  2013-01-08     2        1      1     1      9
8  2013-01-09     2        2      1     1     12
9  2013-01-10     2        3      1     1      9
10 2013-01-11     2        4      1     1      9
11 2013-01-12     2        5      1     1      7
12 2013-01-13     2        6      1     1     10
13 2013-01-14     3        0      1     1     12